### Initializing the csv file

In [80]:
import pandas as pd

df = pd.read_csv("multipleChoiceResponses.csv", encoding="latin-1")
df['CompensationAmount'] = df['CompensationAmount'].str.replace(',', '')
df['CompensationAmount'] = pd.to_numeric(df['CompensationAmount'], errors="coerce")

df[['GenderSelect', 'Country', 'Age', 'CompensationAmount']].head(25)

<ipython-input-80-0b5aeb15a0c2>:3: DtypeWarning: Columns (31,83,86,87,98,99,109,116,123,124,127,129,130,164) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("multipleChoiceResponses.csv", encoding="latin-1")

,GenderSelect,Country,Age,CompensationAmount
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,NaN
1,Female,United States,30.0,NaN
2,Male,Canada,28.0,NaN
3,Male,United States,56.0,250000.0
4,Male,Taiwan,38.0,NaN
5,Male,Brazil,46.0,NaN
6,Male,United States,35.0,NaN
7,Female,India,22.0,NaN
8,Female,Australia,43.0,80000.0
9,Male,Russia,33.0,1200000.0
10,Female,Russia,20.0,NaN
11,Male,India,27.0,95000.0
12,Male,Brazil,26.0,NaN
13,Male,Netherlands,54.0,NaN
14,Male,Taiwan,26.0,1100000.0
15,Male,United States,58.0,120000.0
16,Male,Italy,58.0,NaN
17,Male,United Kingdom,24.0,NaN
18,Male,United States,26.0,NaN
19,Male,Brazil,39.0,NaN
20,Male,United States,49.0,NaN
21,Male,United States,25.0,20000.0
22,Male,United States,33.0,100000.0
23,Male,Czech Republic,21.0,20000.0
24,Male,United States,NaN,NaN

In [81]:
df_conversion_rates = pd.read_csv("conversionRates.csv")

df = pd.merge(df, df_conversion_rates, how="left", left_on="CompensationCurrency", right_on="originCountry")

df['CompensationAmountUSD'] = df['CompensationAmount'] * df['exchangeRate']

In [82]:
df.head(25)

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity,Unnamed: 0,originCountry,exchangeRate,CompensationAmountUSD
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Somewhat important,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,NaN,NaN,NaN,NaN
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,USD,1.000000,250000.0
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Male,Brazil,46.0,Employed full-time,NaN,NaN,Yes,NaN,Data Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Male,United States,35.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Female,India,22.0,Employed full-time,NaN,NaN,No,Yes,Software Developer/Software Engineer,Fine,...,Somewhat important,Not important,Very Important,Very Important,Somewhat important,Somewhat important,NaN,NaN,NaN,NaN
8,Female,Australia,43.0,Employed full-time,NaN,NaN,Yes,NaN,Business Analyst,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,AUD,0.802310,64184.8
9,Male,Russia,33.0,Employed full-time,NaN,NaN,Yes,NaN,Software Developer/Software Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,RUB,0.017402,20882.4
10,Female,Russia,20.0,"Not employed, and not looking for work",Yes,"Yes, I'm focused on learning mostly data scien...",NaN,NaN,NaN,NaN,...,Very Important,Somewhat important,Very Important,Very Important,Somewhat important,Somewhat important,NaN,NaN,NaN,NaN
11,Male,India,27.0,Employed full-time,NaN,NaN,Yes,NaN,Data Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,INR,0.015620,1483.9
12,Male,Brazil,26.0,Employed full-time,NaN,NaN,No,Yes,Engineer,Fine,...,Very Important,Somewhat important,Somewhat important,Somewhat important,Somewhat important,Somewhat important,NaN,NaN,NaN,NaN
13,Male,Netherlands,54.0,Employed full-time,NaN,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Male,Taiwan,26.0,Employed full-time,NaN,NaN,Yes,NaN,Software Developer/Software Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,TWD,0.033304,36634.4
15,Male,United States,58.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,DBA/Database Engineer,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Male,Italy,58.0,Employed full-time,NaN,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Male,United Kingdom,24.0,Employed full-time,NaN,NaN,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Male,United States,26.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,NaN,NaN,NaN,NaN
19,Male,Brazil,39.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Somewhat important,Very Important,Somewhat important,Not important,Not important,Not important,NaN,NaN,NaN,NaN
20,Male,United States,49.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,No,Yes,Scientist/Researcher,Fine,...,Somewhat important,Somewhat important,Somewhat important,Somewhat important,Somewhat important,Somewhat important,NaN,NaN,NaN,NaN
21,Male,United States,25.0,Employed part-time,NaN,NaN,Yes,NaN,Researcher,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,USD,1.000000,20000.0
22,Male,United States,33.0,Employed full-time,NaN,NaN,Yes,NaN,Scientist/Researcher,Perfectly,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,USD,1.000000,100000.0
23,Male,Czech Republic,21.0,Employed part-time,NaN,NaN,Yes,NaN,Other,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,28.0,CZK,0.045820,916.4
24,Male,United States,NaN,Employed full-time,NaN,NaN,Yes,NaN,Software Developer/Software Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**2.a)** What is the probability that a respondent is currently employed as a Programmer given they use C/C++ at work?

In [83]:
def bayes_theorem(pA, pBA, pB):
  return (pBA * pA) / pB

In [84]:
# P(Programmer | C/C++) = P(C/C++ | Programmer) * P(Programmer) / P(C/C++)

probability_of_programmer = (df['CurrentJobTitleSelect'] == 'Programmer').sum() / len(df)

print("P(Programmer) =", probability_of_programmer)



probability_of_CPP = df['WorkToolsSelect'].str.contains("C\/C\+\+", case=False, na=False).sum() / len(df)


print("P(C/C++) =", probability_of_CPP)

# P(C/C++ | Programmer) = P(C/C++ ∩ Programmer) / P(Programmer)
# P(A|B) = P(A∩B) / P(B)

probability_of_CPP_given_programmer = ((df['CurrentJobTitleSelect'] == 'Programmer') & (df['WorkToolsSelect'].str.contains("C\/C\+\+", case=False, na=False))).sum() / ((df['CurrentJobTitleSelect'] == 'Programmer')).sum()

print("P(C/C++ | Programmer) =", probability_of_CPP_given_programmer)


result = bayes_theorem(probability_of_CPP_given_programmer, probability_of_programmer, probability_of_CPP)

print("P(Programmer | C/C++) =", result)

print("The result is", result)

P(Programmer) = 0.02763819095477387
P(C/C++) = 0.09140942809284518
P(C/C++ | Programmer) = 0.0735930735930736
P(Programmer | C/C++) = 0.022251308900523563
The result is 0.022251308900523563

**2.b)** What is the probability that a respondent is a Data Scientist given they have majored in computer science, mathematics or statistics?

In [85]:
# P(Data Scientist | Computer Science U Mathemathics U Statistics) = P(Computer Science U Mathemathics U Statistics | Data Scientist) * P(Data Scientist) / P(Computer Science U Mathemathics U Statistics)


prob_data_scientist = (df['CurrentJobTitleSelect'] == 'Data Scientist').sum() / len(df)

print("P(Data Scientist) = ",prob_data_scientist)

prob_cs_math_stat = ((df['MajorSelect'] == 'Computer Science') | (df['MajorSelect'] == 'Mathematics or statistics')).sum() / len(df)

print("P(Computer Science U Mathemathics U Statistics) =", prob_cs_math_stat)


# P(Computer Science U Mathemathics U Statistics | Data Scientist) = P((Computer Science U Mathemathics U Statistics) ∩ Data Scientist) / P(Data Scientist)
# P(A|B) = P(A∩B) / P(B)


prob_cs_math_stat_given_data_scientist = ((df['CurrentJobTitleSelect'] == 'Data Scientist') & ((df['MajorSelect'] == 'Computer Science') | (df['MajorSelect'] == 'Mathematics or statistics'))).sum() / (df['CurrentJobTitleSelect'] == 'Data Scientist').sum()

print("P(Computer Science U Mathemathics U Statistics | Data Scientist) =", prob_cs_math_stat_given_data_scientist)


result = bayes_theorem(prob_cs_math_stat_given_data_scientist, prob_data_scientist, prob_cs_math_stat)

print("P(Data Scientist | Computer Science U Mathemathics U Statistics) =", result)

print("The result is", result)

P(Data Scientist) =  0.14554917444364682
P(Computer Science U Mathemathics U Statistics) = 0.3958482890643695
P(Computer Science U Mathemathics U Statistics | Data Scientist) = 0.43444307439375257
P(Data Scientist | Computer Science U Mathemathics U Statistics) = 0.15974006347287292
The result is 0.15974006347287292

**2.c)** What is the probability that a respondent works in the Technology industry given that they earn more than 40,000 USD annually?

In [87]:
# P(Technology | Salary > 40.000 USD) = P(Salary > 40.000 USD | Technology) * P(Technology) / P(Salary > 40.000 USD)


# P(Technology)
prob_tech = (df['EmployerIndustry'] == 'Technology').sum() / len(df)
print("P(Technology) =", prob_tech)



# P(Salary > 40.000 USD)
# df['CompensationAmount'] = pd.to_numeric(df['CompensationAmount'], errors="coerce")
prob_salary = (df['CompensationAmountUSD'] > 40000).sum() / len(df)
print("P(Salary > 40.000 USD) =", prob_salary)


# P(Salary > 40.000 USD | Technology) = P(Salary > 40.000 USD ∩ Technology) / P(Technology)
prob_salary_given_tech = ((df['EmployerIndustry'] == 'Technology') & (df['CompensationAmountUSD'] > 40000)).sum() / (df['EmployerIndustry'] == 'Technology').sum()
print("P(Salary > 40.000 USD | Technology) =", prob_salary_given_tech)

result = bayes_theorem(prob_salary_given_tech, prob_tech, prob_salary)

print("P(Technology | Salary > 40.000 USD) =", result)

print("The result is", result)

P(Technology) = 0.134781048097631
P(Salary > 40.000 USD) = 0.15577889447236182
P(Salary > 40.000 USD | Technology) = 0.2237017310252996
P(Technology | Salary > 40.000 USD) = 0.1935483870967742
The result is 0.1935483870967742

**2.d)** What is the joint probability of a respondent being over 30 years old and having a at least a Bachelor's degree?

In [88]:
# P(Age > 30 ∩ Bachelor's Degree)

df['Age'] = pd.to_numeric(df['Age'], errors="coerce")
prob_age_and_bachdeg = ((df['Age'] > 30) & ((df['FormalEducation'] == "Bachelor's degree") | (df['FormalEducation'] == "Master's degree") | (df['FormalEducation'] == "Doctoral degree") | (df['FormalEducation'] == "Professional degree"))).sum() / len(df)
print("P(Age > 30 ∩ Degree >= Bachelor's Degree) =", prob_age_and_bachdeg)
print("The result is", prob_age_and_bachdeg)

P(Age > 30 ∩ Degree >= Bachelor's Degree) = 0.38687485044268966
The result is 0.38687485044268966

**2.e)** What is the probability that a respondent is a Data Scientist who majored in Computer Science, Mathematics or statistics?

In [89]:
# deneme

prob_of_joint = ((df['CurrentJobTitleSelect'] == 'Data Scientist') & ((df['MajorSelect']=='Computer Science') | (df['MajorSelect']=='Mathematics or statistics'))).sum() / len(df)

print("The result is", prob_of_joint)

The result is 0.06323283082077052

**2.f)** What is the joint probability that a respondent is from France, earns less than 100,000 USD annually, and uses Cross-Validation Often or Most of the time?

In [90]:
# P(France ∩ Salary < 100.000 USD ∩ Uses Cross-Validation Often or Most of the time)


prob = ((df['Country'] == "France") & (df['CompensationAmountUSD'] < 100000) & ((df['WorkMethodsSelect'].str.contains("Cross-Validation", case=False, na=False)) & ((df['WorkMethodsFrequencyCross-Validation'] == "Often") | (df['WorkMethodsFrequencyCross-Validation'] == "Most of the time")))).sum() / len(df)

print("P(France ∩ Salary < 100.000 USD ∩ Uses Cross-Validation Often or Most of the time) =", prob)
print("The answer is", prob)

P(France ∩ Salary < 100.000 USD ∩ Uses Cross-Validation Often or Most of the time) = 0.0046063651591289785
The answer is 0.0046063651591289785

**2.g)** What is the probability that a respondent uses C/C++ at work given that they are employed as a Programmer? (Hint: Use your findings from Question 2a).

In [91]:
# This question asks P(C/C++ | Programmer)
# We found this answer in part a.

print("P(C/C++ | Programmer) =", probability_of_CPP_given_programmer)
print("The answer is", probability_of_CPP_given_programmer)

P(C/C++ | Programmer) = 0.0735930735930736
The answer is 0.0735930735930736

**2.h)** Given the probability of a respondent wearing glasses is 0.15, and the probability of a respondent wearing glasses given they have a PhD is 0.25, find the probability of a respondent having a PhD given that they wear glasses.

In [92]:
'''
A = probability of respondent wearing glasses

B = probability of respondent that have PHd

P(A) = 0.15

P(B) = datasetten bulunur

P(A | B) = 0.25

P(B | A) = ? bize sorulan bu

P(B | A) = P(A | B) * P(B) / P(A)
'''

prob_B = (df['FormalEducation'] == "Doctoral degree").sum() / len(df)

prob_A = 0.15

prob_A_given_B = 0.25

prob_B_given_A = prob_A_given_B * prob_B / prob_A

print("The result is", prob_B_given_A)

The result is 0.23400733827869508